:root {
  --primary-color: #234982;
  --primary-color-rgb: 35, 73, 130;
  --secondary-color: #678fd5;
  --secondary-color-rgb: 103, 143, 213;
  --tertiary-color: #F4F7FB;
  --tertiary-color-rgb: 244, 247, 251;
}